<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css"
</head>
<body>
    <div class="container">
        <form action="/removestudent">
            <h3>Delete Students</h3>
            <hr>
            <label for="phone"><b>Phone no.</b></label>
            <input type="phone" placeholder="Type phone no to be searched" name="phone" id="phone" required>

            <button type="submit" class="registerbtn">Delete Students</button>
            <a href="./" style="color: black">Back to home page</a>
            <br>

            {{#if mesg1}}
            <h3>Data Deleted</h3>
            {{/if}}

            {{#if mesg2}}
            <h3>Not Found</h3>
            {{/if}}
        </form>
    </div>
</body>
</html>